<div class="client-wrapper">
  <div class="client-image">
    <img src="/assets/img/client.jpg" alt="">
  </div>
  <div class="client-text">
    <h2>For the Clients</h2>

    <ul>
      <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
      <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
      <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
      <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
      <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
      <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
      <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
      <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
    </ul>
  </div>
</div>
