<div class="about">
    <div class="paragraph">
        <h1>What is folio</h1>
        <p> A folio (from Latin foliō, abl. of folium, leaf) is a book or pamphlet made up of one or <br>
        more full sheets of paper, on each sheet of which four pages of text are printed, two on each <br>
        side; each sheet is then folded ,<br>one time to produce two leaves.A folio (from Latin foliō<br>
        , abl. of folium, leaf) is a book or pamphlet made up of one or more full sheets of paper, on<br>
         each sheet of which four pages of text are printed, two on each side; each sheet is then folded o<br>
         ne time to produce two leaves.
        </p>
    </div>
    <div class="hello">
        <h3>Say hello to</h3>
        <h1>FOLIO</h1>
    </div>
</div>