<div class="instore">
  <div class="left-float">
    <h2 class="main">
What's in store
    </h2>
    <h3 class="min-heading">
For the creatives
    </h3>
    <p>
      - Lorem Ipsum has been the industry's standard dummy <br/>
      - Lorem Ipsum has been the industry's standard dummy<br/>
      - Lorem Ipsum has been the industry's standard dummy<br/>
      - Lorem Ipsum has been the industry's standard dummy<br/>
      - Lorem Ipsum has been the industry's standard dummy<br/>
      - Lorem Ipsum has been the industry's standard dummy<br/>
      - Lorem Ipsum has been the industry's standard dummy<br/>
    </p>
  </div>

  <div class="float-right">
    <h3 class="min-heading">
      For the clients
    </h3>
    <p>
      - Lorem Ipsum has been the industry's standard dummy<br/>
      - Lorem Ipsum has been the industry's standard dummy<br/>
      - Lorem Ipsum has been the industry's standard dummy<br/>
      - Lorem Ipsum has been the industry's standard dummy<br/>
      - Lorem Ipsum has been the industry's standard dummy<br/>
      - Lorem Ipsum has been the industry's standard dummy<br/>
      - Lorem Ipsum has been the industry's standard dummy<br/>

    </p>
  </div>
</div>
